html{
    font-size: 72px;
    
    text-align: center;
    
    color: blue;
    
    display: block; 
    
    position: relative;
    
    box-sizing: border-box;
    
    float: left;
    
    width: 100%;

    height: 100%; 
  
    overflow: hidden; 
}
body{
	display: block; /* Метод отображения: Блок */

	position:relative; /* Метод позиционирования: Относительный */
	
	box-sizing: border-box; /* Метод просчета размера */

	float: left; /* Обтекание: По левому краю */

	width: 100%; /* Ширина */

	height: 100%; /* Высота */

	overflow: hidden; /* Полоса прокрутки: Скрыта */
    
    margin: 0px;
    padding: 0px;
    
}
.window{

	display: block; /* Метод отображения: Блок */

	position: absolute; /* Метод позиционирования: Абсолютный */

	left: 0px; /* Положение от левого края: 0 пикселей */

	top: 0px; /* Положение от верхнего края: 0 пикселей */

	width: 100%; /* Ширина */

	height: 100%; /* Высота */
}
.window > .block{

	display: block; /* Метод отображения: Блок */

	position: absolute; /* Метод позиционирования: Абсолютный */

	left: 0px; /* Положение от левого края: 0 пикселей */

	top: 0px; /* Положение от верхнего края: 0 пикселей */

	width: 100%; /* Ширина */
}
.window > .block.header{

	height: 100px; /* Высота: 100 пикселей */

	z-index: 2; /* Уровень слоя */

	background-color: transparent;  /* Цвет фона: прозрачный */
}

.window > .block.sandbox{

	position: absolute; /* Метод позиционирования: Абсолютный */
    
    width: 400px; /* Ширина: 400 пикселей */
	height: 400px; /* Высота: 400 пикселей */
    
    
    left: calc(50% - 200px); /* Положение от левого края: посчитать половину от родительского элемента минус половина от размера самого элемента */
	top: calc(50% - 200px); /* Положение от левого края: посчитать половину от родительского элемента минус половина от размера самого элемента */

    z-index: 1; /*уровень слоя*/
    background-color: transparent; /* Цвет фона: прозрачный */
}
.sandbox > .object{

	display: block; /* Метод отображения: Блок */

	position: absolute; /* Метод позиционирования: Абсолютный */

	left: calc(50% - 25px); /* Положение от левого края: посчитать половину от родительского элемента минус половина от размера самого элемента */

	top: calc(50% - 25px); /* Положение от левого края: посчитать половину от родительского элемента минус половина от размера самого элемента */

	width: 20px; /* Ширина: 50 пикселей */

	height: 50px; /* Высота: 50 пикселей */
}
.sandbox > .object.character{
    
   background-color: yellow; /* цвет фона жёлтый */
      
}
.sandbox > .sandbox-row{
    display: block; /* Метод отображения: Блок */
    position: relative; /* Метод позиционирования: относительный */
    box-sizing: border-box; /* Метод просчёта размера */
    float: left; /* обтекание: по левому краю */
    
    width: 400px; /* Ширина: 400 пикселей */
	height: 40px; /* Высота: 40 пикселей */
    
    margin-left: calc(50% - 200px);  /* внешний отступ: Посчитать половину от ширины род.блока - минус половина от ширины элемента */
    margin-right: calc(50% - 200px);  /* внешний отступ: Посчитать половину от ширины род.блока - минус половина от ширины элемента */
    
    background-color: transparent; /* Цвет фона: прозрачный */
}
.sandbox > .sandbox-row > .sandbox-col{
    display: block; /* Метод отображения: Блок */
    position: relative; /* Метод позиционирования: относительный */
    box-sizing: border-box; /* Метод просчёта размера */
    float: left; /* обтекание: по левому краю */
    
    width: 36px; /* Ширина: 36 пикселей */
	height: 36px; /* Высота: 36 пикселей */ 
    
    margin: 2px; /* внешний отступ: 2 пикселя */   

    
    background-color: black; /* Цвет фона: чёрный */
}
.sandbox > .sandbox-row > .sandbox-col:hover{
    background-color: red; /* цвет фона красный */
}
.sandbox > .sandbox-row > .sandbox-col.active{
    background-color: yellow; /* цвет фона жёлтый */
}
